<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LJ's | {{ title }}</title>
     <!-- Tab icon -->
     <link rel="shortcut icon" type="image/x-icon" href="./images/circle-cropped.png"/>
     <!-- Bootstrap css -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <!-- Google fonts link -->
     <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
     <!-- Adobe fonts link -->
     <link rel="stylesheet" href="https://use.typekit.net/slr7iwm.css">
     <!-- My css -->
     <link rel="stylesheet" href="./CSS/style.css">
     <!-- Font awesome link -->
     <script src="https://kit.fontawesome.com/0a5e91de56.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">LJ Spencer</a>
          
        <!-- Nabbar toggle button -->
        <!-- This will only show on tablets and mobile devices -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            {{#if about}}
            <!-- About, currently active -->
              <li class="nav-item active">
                <a class="nav-link" href="/">About <span class="sr-only">(current)</span></a>
              </li>
            {{else}}
            <!-- About -->
              <li class="nav-item">
                <a class="nav-link" href="/">About</a>
              </li>
            {{/if}}

            {{#if portfolio}}
            <!-- Portfolio, currently active -->
              <li class="nav-item active">
                <a class="nav-link" href="">Portfolio <span class="sr-only">(current)</span></a>
              </li>
            {{else}}
            <!-- Portfolio -->
              <li class="nav-item">
                <a class="nav-link" href="/portfolio">Portfolio</a>
              </li>
            {{/if}}

            <!-- Resume -->
            <li class="nav-item">
              <a class="nav-link" href="/resume">Resume</a>
            </li>
            
            {{#if contact}}
            <!-- Contact, currently active -->
              <li class="nav-item active">
                <a class="nav-link last" href="">Contact <span class="sr-only">(current)</span></a>
              </li>
            {{else}}
            <!-- Contact -->
              <li class="nav-item">
                <a class="nav-link last" href="/contact">Contact</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>

    {{{ body }}}

    <footer>
      <p>Made with &hearts; in SLC.</p>
      <p id="copy">&copy; Copyright 2020.</p>
    </footer>
  </body>
</html>